NEXT_PUBLIC_TMDB_BASE_URL= https://api.themoviedb.org/3
NEXT_PUBLIC_TMDB_API_KEY= d9e063e604b5c938e70876c537f01c20
NEXT_PUBLIC_TMDB_IMAGE_URL=https://image.tmdb.org/t/p/original


GITHUB_TOKEN=y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
